.footer {
  background-color: var(--clr-bg-2);
  height: 100px;
  padding: 2rem 1rem 0.5rem 1rem; /* 加 padding 讓內容遠離上下邊界 */
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.footer-links a {
  margin: 0 0.5rem;
  color: var(--clr-text-body);
  transition: color 0.3s;
  font-size: 1.2rem;
}

.footer-links a:hover {
  color: var(--clr-bg-1);
}
