#competencies {
  min-height: 550px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 100px;
  min-height: 360px;
  justify-content: space-evenly;
}

.skill.card-container {
  align-items: flex-start;
  padding: 2rem;
  gap: 1rem;
  box-shadow: none;
  width: 60%;
  min-width: 330px;
  max-width: 380px;
}

@media (min-width: 768px) {
  .skills {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
  }
}

.skill.card-container > * {
  margin: 0;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 65px;
  height: 65px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.skill {
  transition: all 0.3s ease;
}

.skill:hover {
  transform: translateY(-6px) scale(1.01);
  border-bottom: solid 3px var(--clr-btn-hover);
  background-color: #fff;
}

.skill_title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--clr-primary-1);
  text-align: left;
}

.skills .icon {
  margin: 10px 0;
}

.skills .context {
  font-size: 1rem;
  color: var(--clr-text-detail);
  text-align: left;
  overflow-wrap: break-word;
  width: 100%;
}
