.hero {
  min-height: 80vh;
  background-color: var(--clr-bg-2);
  display: flex;
  flex-direction: column;
  padding-top: var(--nav-height);
  justify-content: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 5%;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hero-container {
    padding-left: 7.5%;
  }
}

.hero-container h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
  opacity: 0.9;
  color: black;
}

.name {
  font-weight: 700;
  font-size: 3rem;
  margin-block-start: 0.7em;
  margin-block-end: 0.2em;
  color: black;
}

@media (min-width: 768px) {
  .hero-container h3 {
    font-size: 2rem;
  }

  .name {
    font-size: 3.8rem;
  }
}

.text-rotator {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2em;
  gap: 0.75rem;
  color: var(--clr-text-heading);
  height: 2.5rem;
  position: relative;
}

.dynamic-text-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 6rem;
  width: 500px;
}

@media (min-width: 425px) {
  .dynamic-text-container {
    height: 2.5rem;
  }
}

.dynamic-text {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  text-align: left;
}

.dynamic-text.active {
  opacity: 1;
}

.text-rotator p {
  margin: 0;
}

.intro {
  width: 100%;
  margin-bottom: 1.5em;
  text-wrap: wrap;
}

.learn-more {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.learn-more .btn {
  margin: 0.5rem 0;
}

.btn.resume:hover {
  background-color: var(--clr-accent-1);
}

.btn.viewProject {
  min-width: 180px;
}

.character {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

.character-board {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-board img {
  width: 50%;
  max-height: 70%;
  object-fit: contain; /* keep original shape */
}

@media (min-width: 425px) {
  .learn-more {
    display: flex;
    flex-direction: row;
    gap: 8%;
  }
}

@media (min-width: 768px) {
  .character-board img {
    width: 80%;
  }
}
