.btn,
button {
  background-color: #133e87;
  border: none;
  border-radius: 25px;
  color: white;
  height: 48px;
  min-width: 150px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover,
button:hover {
  transform: scale(1.05);
  background-color: #0056b3;
  color: white;
}
