/* SITEWIDE */
html {
  scroll-padding-top: var(--nav-height);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--clr-bg-1);
  color: var(--clr-text-body);
}

body p {
  transition: all 0.2s;
}

body p:hover,
.value:hover {
  color: rgb(0, 0, 0);
  font-weight: 450;
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
