:root {
  --nav-height: 50px;

  /* Basic color */
  --clr-bg-1: #f3f3e0; /* primary */
  --clr-bg-2: #cbdceb; /* secondary or card background */
  --clr-bg-3: #f4fcff;
  --clr-primary-1: #133e87; /* titles or button */
  --clr-primary-2: #608bc1; /* hover or links */
  --clr-primary-3: #608cc19f;

  /* Text */
  --clr-text-heading: #133e87;
  --clr-text-body: #2c2c2c;
  --clr-text-light: #ffffff;
  --clr-text-detail: #333;
  --clr-text-strong: #2e3a59;

  /* Button */
  --clr-btn-bg: #133e87;
  --clr-btn-hover: #0e2e68;
  --clr-btn-secondary: #608bc1;
  --clr-btn-secondary-hover: #4c74a4;

  /* Frame and input */
  --clr-border: #b0c4de;
  --clr-input-bg: #f8f9fa;
  --clr-input-focus: #608bc1;
  --clr-text-bg: #d9f0ff;

  /* Others */
  --clr-accent-1: #ffb347; /* CTA button or icon*/
  --clr-accent-2: #a3d9a5; /* success message or tag */
  --clr-accent-3: #a093c7;
}
